.blogCard {
    /* display: flex;
    flex-direction: column; */
    border: 1px dashed rgba(209, 209, 209, 0.5);
    border-radius: 2rem;
    width: 100%;
}

.blogCard:hover {
    background: linear-gradient(145deg, rgba(248, 142, 242, 0.05) 0%, rgba(70, 98, 253, 0.05) 100%);
}

.blogIcon {
    margin-left: 1rem;
    width: 4rem;
}

.blogDescription {
    padding: 1rem 2rem
}