.container {
    padding: 2rem 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.projectCard {
    display: flex;
    align-items: center;
    border: 1px solid rgba(163, 163, 163, 0.5);
    border-radius: 30px;
    width: 100%;
    height: 6rem;
    transition: box-shadow 0.15s ease-in-out;
}

.projectCard:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19);
}

.projectIcon {
    margin-left: 1rem;
    width: 4rem;
}

.projectDescription {
    padding-left: 20px;
}

.galleryGrid {
    width: 100%;
    /* min-width: 200px;  */
    height: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
}

.childPic {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    background-color: black;
    background-position: center;
    background-size: cover;
    transition: all .5s;
}

.galleryGrid:hover .childPic {
    transform: scale(1.2);
}