.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.content {
    padding: 4rem 2rem 10rem 2rem;
    display: flex;
    flex-direction: column;
    width: 800px;
}

@media screen and (max-width: 800px) {
    .content {
        padding: 4rem 1rem 5rem 1rem;
        max-width: 500px;
    }
}


/* for mobile */

@media screen and (max-width: 500px) {
    .content {
        padding: 4rem 1rem 5rem 1rem;
        max-width: 390px;
    }
}